<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户管理</title>
	<script src="js/vue.js"></script>
	<script src="bootstrap/jquery.min.js"></script>
	<link rel="stylesheet" href="bootstrap/bootstrap.min.css">
	<script src="bootstrap/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<h2 class="text-center">添加用户</h2>
	<form class="form-horizontal">
		<div class="form-group">
			<label for="name" class="control-label col-sm-2 col-sm-offset-2">姓 名：</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="name" v-model="user.name" placeholder="请输入姓名">
			</div>
		</div>
		<div class="form-group">
			<label for="age" class="control-label col-sm-2 col-sm-offset-2">年 龄：</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="age" v-model="user.age" placeholder="请输入年龄">
			</div>
		</div>
		<div class="form-group">
			<label for="email" class="control-label col-sm-2 col-sm-offset-2">Email：</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="email" v-model="user.email" placeholder="请输入邮箱">
			</div>
		</div>
		<div class="form-group">
			<label for="QQ" class="control-label col-sm-2 col-sm-offset-2">Q Q：</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="QQ" v-model="user.QQ" placeholder="请输入QQ">
			</div>
		</div>
		<div class="form-group text-center">
			<input type="button" value="添 加" class="btn btn-primary" v-on:click="adduser">
			<input type="button" value="重 置" class="btn btn-primary" v-on:click="reboot">
		</div>
	</form>

	<hr>

	<table class="table table-bordered table-hover">
		<caption class="h3 text-center text-info">用户列表</caption>
		<thead>
			<tr>
				<th class="text-center">序号</th>
				<th class="text-center">姓名</th>
				<th class="text-center">邮箱</th>
				<th class="text-center">QQ</th>
				<th class="text-center">操作</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="(user,index) in users" class="text-center">
				<td>{{index + 1}}</td>
				<td>{{user.name}}</td>
				<td>{{user.email}}</td>
				<td>{{user.QQ}}</td>
				<td>
					<button class="btn btn-danger" data-toggle="modal" data-target="#del" v-on:click="delflag=index">删除</button>
				</td>
			</tr>
			<tr>
				<td colspan="5" class="text-right">
					<button class="btn btn-danger" data-toggle="modal" data-target="#del" v-on:click="delflag=-1">删除所有</button>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="modal" id="del">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
					<h4 class="modal-title" v-show="delflag!==-1">确认删除用户 {{users[delflag]?users[delflag].name:' '}} 吗？</h4>
					<h4 class="modal-title" v-show="delflag===-1">确认删除所有用户吗？</h4>
				</div>
				<div class="modal-body text-center">
					<button class="btn btn-primary" data-dismiss="modal" v-on:click="deluser">确定</button>
					<button class="btn btn-primary" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>

</div>

<script>
	Vue.config.devtools=false;
	Vue.config.productionTip=false;

	new Vue({
		el: '.container',
		data: {
			users: [
				{name: 'liang', age: 27, email: 'liang@eternalstop', QQ: '1170411507'},
				{name: 'meng', age: 27, email: '957577050@qq.com', QQ: '957577050'},
				{name: 'leaf', age: 22, email: 'leaf@eternalstop.com', QQ: '7777777'},
			],
			user: {},
			delflag: -1,
		},
		methods: {
		    adduser: function() {
				this.users.push(this.user);
			    this.user={};
		    },
			reboot: function(){
		        this.user={};
			},
			deluser: function () {
                if (this.delflag === -1) {
                    this.users={};
                }else{
					this.users.splice(this.delflag, 1);//从指定索引位置开始删除，删除一个
                }
		    }
		},
	})
</script>
</body>
</html>